<!-- <p>
  <a href = "/app/">Home</a>
</p> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");
body, input, select, textarea {
		font-family: "Taviraj", serif;
		/* font-weight: 300; */
		/* font-size: 1.5rem; */
		line-height: 1.65;
    background-color: #333;
    color: #DDD;
	}
tr a {
  display: block;
}
tr a:hover {
  text-decoration: none;
  color: inherit;
  background-color: #888;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p {
	text-align: center;
}
.center {
	margin: 0 auto;
	width: 400px;
}
h1 {
	font-family: "Taviraj", serif;
	color: white;
	font-size: 4rem;
	margin-bottom: 1rem;
	line-height: 1.5;
	margin: 0 0 1.5rem 0;
}
.overlay-desc {
	background: rgba(0,0,0,0);
	position: absolute;
	top: 20%; right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
</style>

<ul>
  <li><a class="active" href="/app/">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
