<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<img src="/static/images/banner.jpg" >
{% if user_list %}
<ul>
{% for user in user_list%}
  <li><a href="/app/user/{{user.user_id}}/">{{user.user_id}}</a>
  </li> {% endfor %}
</ul>
{% else %}
  <p> No users found :( </p>

{% endif %}
<style type="text/css">
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p {
	text-align: center;
}
</style>
