{% include "site/menu.html "%}

<video autoplay muted loop id="myVideo">
  <source src="../media/banner.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div id="overlay-desc" class = "animated fadeIn">
  <h1 id="Title">Eat My Review</h1>
</div>
<div id="overlay-desc2" class = "animated fadeIn">
  <h3 id="Phrase">Post Reviews and get instant recommendations!</h3>
</div>
{% if user_list %}
<table id=userTable>
<tr id=userRow>
{% for user in user_list%}
  <th id=userItem><a href="/app/user/{{user.user_id}}/">{{user.user_id}}</a>
  {% if forloop.counter|divisibleby:7 %}
  </tr><tr id=userRow>
  {% endif %}
  </th> {% endfor %}
</tr>
</table>
{% else %}
  <p> No users found :( </p>

{% endif %}
