{% include "site/menu.html "%}
{% if user %}
  <p>{{user}}</p>
  
	<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<script>$(window).ready(function(){
	$(".boton").wrapInner('<div class=botontext></div>');
		
		$(".botontext").clone().appendTo( $(".boton") );
		
		$(".boton").append('<span class="twist"></span><span class="twist"></span><span class="twist"></span><span class="twist"></span>');
		
		$(".twist").css("width", "25%").css("width", "+=3px");
	});</script>

<a href="/app/user/{{user.user_id}}/recommendations" class="boton">
Recommendations for this user   
</a>
	
  <p> Reviews: </p>
  <div class = "container">
    <div class="row">
      <div class = ".col-lg-3 .offset-lg-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Stars</th>
              <th scope="col">Business</th>
              <th scope="col">Text</th>
            </tr>
          </thead>
          <tbody>
            {% for r in user.review_set.all %}
              <tr>
                <th scope="row">
                  <a href="/app/review/{{r.review_id}}">
                    {{r.stars}}
                  </a>
                </th>
                <th scope="row">
                  <a href="/app/business/{{r.business_id}}">
                    {{r.business_id}}
                  </a>
                </th>
                <th scope="row">
                  <a href="/app/review/{{r.review_id}}">
                    {{r.review_text|slice:":150"}}
                  </a>
                </th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% else %}
  <p>Nonexistent user</p>
{% endif %}
